*::-webkit-scrollbar{
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.57);
  border-radius: 5px;
}

* {
 scrollbar-width: auto;
 scrollbar-base-color: green;
 scrollbar-track-color: red;
 scrollbar-arrow-color: blue;
}
